.contact{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    .wrapper{
        margin-top: 62px;
        .fields{
            width: 100%;
            height: auto;
            clear: both;
            float: left;
            .contact_form{
                .first{
                    width: 100%;
                    float: left;
                    ul{
                        li{
                            width: 100%;
                            margin: 0 0 30px;
                            float: left;
                            input{
                                width: 100%;
                                border: 1px solid rgba(0,0,0,.2);
                                background-color: transparent;
                                font-style: italic;
                            }
                            textarea{
                                width: 100%;
                                border: 1px solid rgba(0,0,0,.2);
                                height: 120px;
                                resize: none;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}