.portfolio{
    padding: 100px 0 50px;
    position: relative;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .wrapper{
        margin-top: 62px;
        .portfolio_list{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 50px;
            width: 100%;
            .portfolio_item{
                float: left;
                overflow: hidden;
            }
        }
    }
}