.portfolio{
    padding: 100px 0 50px;
    position: relative;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .wrapper{
        margin-top: 62px;
        .portfolio_list{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 50px;
            width: 100%;
            .portfolio_item{
                float: left;
                overflow: hidden;
            }
        }
    }
    .description-prev{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        .prev-icon{
            margin-right: 10px;
            color: #767676;
            font-size: 20px;
        }
        span{
            color: #767676;
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
        }
    }
}

// reposive
$res_375 : "only screen and (min-width: 375px) and (max-width: 424px)";
$res_425 : "only screen and (max-width: 425px)";
$res_768 : "only screen and (max-width: 768px)";
$res_992 : "only screen and (max-width: 992px)";
$res_1024 : "only screen and (max-width: 1024px)";
$res_1200 : "only screen and (max-width: 1200px)";
$res_1400 : "only screen and (max-width: 1400px)";
$res_1600 : "only screen and (max-width: 1600px)";

@mixin responsive_375() {
    @media #{$res_375} {
        @content;
    }
}
@mixin responsive_425() {
    @media #{$res_425} {
        @content;
    }
}
@mixin responsive_768() {
    @media #{$res_768} {
        @content;
    }
}
@mixin responsive_992() {
    @media #{$res_992} {
        @content;
    }
}
@mixin responsive_1024() {
    @media #{$res_1024} {
        @content;
    }
}
@mixin responsive_1200() {
    @media #{$res_1200} {
        @content;
    }
}
@mixin responsive_1400() {
    @media #{$res_1400} {
        @content;
    }
}
@mixin responsive_1600() {
    @media #{$res_1600} {
        @content;
    }
}


@include responsive_1600{
    
}

@include responsive_1400{
 
}

@include responsive_1200{
    .portfolio{
        padding-top: 140px;
        padding-bottom:50px;
    }
}

@include responsive_1024{
    
}

@include responsive_992{
 
}
 
@include responsive_768{
    .portfolio{
        padding-top:100px;
        .wrapper{
            .portfolio_list{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }
    
}

@include responsive_425{
    
}

@include responsive_375{
    
}